.d-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.gap-1 {
    gap: 10px;
}
.tpquizdeluxe-button {
    line-height: 2.45rem;
    margin: 5px 0;
    padding: 0 1rem;
    font-size: 1rem;
    color: #495057;
    border: 1px solid hsl(214,20%,80%);
    background: #fff;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
.tpquizdeluxe-button .dashicons:before {
    color: #457d54;
}
.tpquizdeluxe-button.cancel-button .dashicons:before {
    color: #c52827;
}
.tpquizdeluxe-button:hover {
    background-color: #457d54;
    border-color: #457d54;
    color: #fff;
}
.tpquizdeluxe-button:hover .dashicons:before {
    color: #fff;
}
.tpquizdeluxe-button.cancel-button:hover {
    background-color: #c52827;
    border-color: #c52827;
    color: #fff;
}

.toplevel_page_tpquizdeluxe #wpcontent {
    padding-left: 0;
}
.tpquizdeluxe-page {
    min-height: 500px;
}
.tpquizdeluxe-container {
    max-width: 1200px;
    margin: 0 auto;
}
.tpquizdeluxe-header {
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
    position: sticky;
    position: -webkit-sticky;
    top: 32px;
}
.tpquizdeluxe-header .logo {
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
}
.tpquizdeluxe-header .version {
    background-color: #e6e6e6;
    padding: 5px 10px;
    border-radius: 4px;
}

.page-header {
    margin-top: 2rem;
}
.page-header h2 {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 0 4px;
    line-height: 1.3;
}
.edit-action-buttons {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.tpquizdeluxe-tablist {
    border: none;
    border-bottom: 1px solid #dbe4f0;
    background-color: #fff;
    padding: 0;
}
.tpquizdeluxe-tablist .nav-tab {
    padding: 0.6rem 1rem;
    margin: 0;
    border: none;
    background-color: #fff;
    position: relative;
    box-shadow: none;
}
.tpquizdeluxe-tablist .nav-tab.nav-tab-active {
    background-color: #f4f7fa;
}
.tpquizdeluxe-tablist .nav-tab.nav-tab-active:after {
    content: '';
    background-color: #2a69b8;
    bottom: 0;
    height: 3px;
    left: 0;
    opacity: .8;
    position: absolute;
    right: 0;
}
.main-card {
    background-color: #fff;
}
.tpquizdeluxe-tab-content {
    padding: 30px 2vw;
}
.tpquizdeluxe-tab-content:not(.active) {
    display: none;
}
.tpquizdeluxe-control-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 1rem;
    position: relative;
}
.tpquizdeluxe-control-group .controls {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
    min-width: 210px;
    position: relative;
}
.tpquizdeluxe-control-group .control-label {
    width: 250px;
    padding: 0.3rem 1rem 0.3rem 0;
    box-sizing: border-box;
    font-size: 16px;
}
.tpquizdeluxe-control-group .form-control {
    padding: 0.2rem 0.5rem;
    border: 1px solid #b8c9e0;
    border-radius: 0.25em;
    width: 100%;
}